body {
  background-color: #464247;
}

.loader {
  border: 10px solid #27232A;
  border-top: 10px solid #A198A9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.main {
  display: flex;
  padding: 5em;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: column;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gamename {
  text-align: center;
  color: #EAEAEA;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
