<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
    <div class="container">
      <a class="navbar-brand nav-link title" [routerLink]="['/']">Speedruns Angular</a>
      <div class="d-sm-inline-flex justify-content-end">
        <div class="searchbar d-flex justify-content-center align-items-center text-center" [routerLink]="['/']">
          <input (keypress)="keyPress($event)" class="searchtext" type="text" placeholder="Busca un juego..." />
          <span class="search-icon material-symbols-outlined"></span>
        </div>
        <ul class="navbar-nav flex-grow" *ngIf="!isLoggedIn()">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/login']">Log in</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/signup']">Sign up</a>
          </li>
        </ul>
        <ul class="navbar-nav flex-grow" *ngIf="isLoggedIn()">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/profile']">Perfil</a>
          </li>
          <li class="nav-item" (click)="deslogearse()">
            <a class="nav-link" [routerLink]="['/']">Deslogearse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
